.top-section_promo-links {
  display: flex;
}

.top-section_promo-link {
  border-radius: 5px;
  height: 50px;
  width: 150px;
  border: 1px solid $button-border-primary;
  background-color: $button-background-primary;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;

  &:nth-of-type(1) {
    margin-right: 10px;
  }
}

.google-play-primary {
  background-image: url("../assets/images/google-play.png");
  background-size: 135px;
}

.app-store-primary {
  background-image: url("../assets/images/app-store.png");
  background-size: 127px;
}

.google-play-secondary {
  background-image: url("../assets/images/google-play-2.png");
  background-size: 136px;
}

@media screen and (min-width: 780px) {
  .top-section_promo-link {
    height: 60px;
    width: 180px;

    &:nth-of-type(1) {
      margin-right: 15px;
    }
  }
}

@media screen and (min-width: 1320px) {
  .top-section_promo-link:nth-of-type(1) {
    margin-right: 20px;
  }
}
