.fifth-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 118px 20px 120px;
}

.fifth-section {
  background-image: url("../assets/images/group75.png"),
    url("../assets/images/group76.png");
  background-repeat: no-repeat;
  background-position-x: 0, 100%;
  background-position-y: 100%, 100%;
  background-size: 110px;

  &_image {
    width: 100%;
    max-width: 516px;
  }

  &_download {
    max-width: 444px;
    width: 100%;
  }

  &_download-title {
    font-family: $font-main-bold;
    font-size: 25px;
    text-align: center;
    margin-bottom: 15px;
  }

  &_download-desc {
    opacity: 50%;
    text-align: center;
    margin-bottom: 60px;
  }

  &_download-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  &_download-link {
    border-radius: 5px;
    height: 53px;
    width: 166px;
    border: 1px solid $button-border-secondary;
    background-color: $button-background-secondary;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
  }
}

.mockup-phone-secondary {
  width: 100%;
}

@media screen and (min-width: 680px) {
  .fifth-section {
    background-size: 150px;
  }
}

@media screen and (min-width: 900px) {
  .fifth-section .container {
    max-width: 1028px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 68px;
    margin: auto;
    padding: 118px 20px 120px;
  }

  .fifth-section_image {
    width: 100%;
    max-width: 516px;
  }

  .fifth-section_download-links {
    display: flex;
    flex-direction: row;
    gap: 29px;
    justify-content: center;
  }
}
