@font-face {
  font-family: "Objective";
  font-weight: 400;
  src: url("../assets/fonts/objective_Woff2/Objective-Regular.woff2");
}

@font-face {
  font-family: "Objective Medium";
  font-weight: 500;
  src: url("../assets/fonts/objective_Woff2/Objective-Medium.woff2");
}

@font-face {
  font-family: "Objective Bold";
  font-weight: 700;
  src: url("../assets/fonts/objective_Woff2/Objective-Bold.woff2");
}
