.fourth-section .container {
  max-width: 1017px;
  padding: 50px 20px 0px 20px;
}

.fourth-section {
  background-image: url("../assets/images/group88.png"),
    url("../assets/images/rectangle22.png");
  background-repeat: no-repeat;
  background-position-x: 100%, 0%;
  background-position-y: 50%, 43%;
  background-size: auto, 80% 400px;

  &_title {
    font-family: $font-main-bold;
    font-size: 26px;
    color: $text-color-primary;
    line-height: 26.99px;
    text-align: center;
    margin-bottom: 50px;
  }

  &_client-review {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

  &_image {
    margin-bottom: 50px;
    width: 50%;
    max-width: 399px;
  }

  &_image-photo {
    width: 100%;
    vertical-align: bottom;
  }

  &_review {
    max-width: 418px;
  }

  &_review-image {
    margin-bottom: 43px;
  }

  &_review-text {
    opacity: 50%;
    margin-bottom: 40px;
    line-height: 24px;
  }

  &_review-autor {
    display: block;
    font-size: 18px;
    line-height: 19px;
    font-family: $font-main-medium;
    margin-bottom: 37px;
  }

  &_arrows {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  &_arrow {
    width: 80px;
    height: 80px;
    font-size: 50px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
    color: $button-text-secondary;
    background: $button-background-secondary-reverse;
    border: 1px solid $button-border-secondary-reverse;
    cursor: pointer;
    caret-color: transparent;
  }

  &_arrow:hover {
    border: 2px solid $button-background-primary;
  }

  &_arrow.active {
    color: $button-text-primary;
    background: $button-background-primary;
    border: 1px solid $button-border-primary;
  }
}

.arrow-left {
  border-radius: 4px 0px 0px 4px;
}

.arrow-right {
  border-radius: 0px 4px 4px 0px;
}

@media screen and (min-width: 900px) {
  .fourth-section {
    background-position-x: 100%, 0%;
    background-position-y: 50%, 100%;
    background-size: auto, 47% 400px;
  }

  .fourth-section .container {
    padding: 95px 20px 0px 20px;
  }

  .fourth-section_client-review-text{
    transform: translateY(40px);
  }

  .fourth-section_client-review {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin: auto;
  }

  .fourth-section_image {
    margin-bottom: 0px;
    width: 100%;
    max-width: 399px;
  }

  .fourth-section_title {
    margin-bottom: 11px;
  }
}
