.main-footer {
  background: $background-primary;

  &_primary {
    border-bottom: 1px solid $text-color-white;
    padding: 55px 20px 30px 20px;
  }

  &_wrapper {
    max-width: 465px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
  }

  &_primary-logo {
    padding-bottom: 50px;
    order: 1;
  }
}

.logo-secondary {
  font-family: "Objective Bold";
  font-size: 34px;
  color: $text-color-white;
  cursor: pointer;
  text-decoration: none;
}

.main-footer_primary-links {
  order: 3;
  display: flex;
  gap: 27px;
}

.main-footer_primary-link-title {
  font-family: "Objective Medium";
  font-size: 18px;
  color: $text-color-white;
  margin-bottom: 34px;
  white-space: nowrap;
}

.text-underline {
  border-bottom: 2px solid $text-color-white;
}

.list_item-wrapper {
  margin-bottom: 18px;
}

.list_item-wrapper:last-of-type {
  margin-bottom: 0px;
}

.list_item {
  font-family: "Objective";
  font-size: 14px;
  color: $text-color-white;
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    text-decoration: underline;
  }
}

.main-footer_primary-subscription {
  max-width: 394px;
  order: 2;
  margin-bottom: 50px;

  &-title {
    font-family: "Objective";
    font-size: 18px;
    color: $text-color-white;
    margin-bottom: 20px;
  }

  &-form {
    display: flex;
    gap: 10px;
  }
}

.input-line {
  width: 100%;
  height: 50px;
  border-radius: 3px;
  border: 1px solid $button-border-secondary-reverse;
  background: $button-background-secondary-reverse;
  padding: 10px;
  outline: none;
}

.button-subscribe {
  width: 116px;
  height: 50px;
  border-radius: 3px;
  border: 1px solid $button-border-secondary-reverse;
  background: $button-background-secondary-reverse;
  padding: 10px;
  color: $text-color-blue;
  font-size: 16px;
  font-family: "Objective Bold";
  cursor: pointer;
}

.main-footer_secondary {
  max-width: 1232px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  padding: 20px 20px 20px 20px;

  &-copyright {
    font-family: "Objective Bold";
    font-size: 11px;
    color: $text-color-white;
  }

  &-links {
    display: flex;
    gap: 20px;
  }
}

@media screen and (min-width: 1180px) {
  .main-footer_wrapper {
    max-width: 1192px;
    flex-direction: row;
    justify-content: space-between;
  }

  .main-footer_primary-logo {
    padding: 0 100px 0 0;
  }

  .main-footer_primary-links {
    order: 2;
    gap: 60px;
  }

  .main-footer_primary-subscription {
    order: 3;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 430px) {
  .main-footer_primary-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
  }
}