.main-header {
  padding: 25px 20px;
}

.main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-primary {
  font-family: $font-main-bold;
  font-size: 24px;
  color: $text-color-blue;
  line-height: 100%;
  cursor: pointer;
  text-decoration: none;
}

.main-nav_link-wrapper {
  display: inline-block;
  padding: 0px 5px;

  &:nth-child(3) {
    padding-right: 0;
  }
}

.main-nav_link {
  text-decoration: none;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  color: $text-color-primary;

  &:hover {
    color: $text-color-blue;
    text-decoration: underline;
  }
}

.active {
  color: $text-color-blue;
}

@media screen and (min-width: 780px) {
  .main-header {
    padding: 45px 20px;
  }
  .logo-primary {
    font-size: 40px;
  }
  .main-nav_links {
    font-size: 18px;
  }
  .main-nav_link-wrapper {
    padding: 0px 20px;
  }
}
