.second-section {
  padding-top: 50px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-image: url("../assets/images/rectangles-1.png"),
    url("../assets/images/rectangles-2.png"),
    url("../assets/images/group72.png"), url("../assets/images/group73.png"),
    url("../assets/images/group74.png");
  background-repeat: no-repeat;
  background-position-x: 100%, 0px, 87%, 15%, 87%;
  background-position-y: 0px, 100%, 13%, 50%, 87%;
  background-size: 90px;

  &_title {
    font-family: $font-main-medium;
    color: $text-color-secondary;
    font-size: 20px;
    width: 260px;
    margin-bottom: 90px;
  }
}

.service-card {
  height: auto;
  width: 100%;
  max-width: 380px;
  border-radius: 10px;
  background-color: $background-secondary;
  box-shadow: 5px 20px 50px rgba(74, 153, 211, 0.2);
  padding: 20px;
  margin: auto;
  margin-bottom: 40px;

  &_image-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  &_image {
    position: relative;
    top: -76px;
    margin-bottom: -76px;
  }

  &_title {
    font-family: $font-main-medium;
    color: $text-color-primary;
    margin-bottom: 5px;
  }

  &_desc {
    color: $text-color-primary;
    font-size: 14px;
    margin-bottom: 30px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &_link {
    color: $text-color-blue;
  }
}

.link-text {
  font-family: $font-main-medium;
  font-size: 12px;
}

.link-arrow {
  max-width: 12px;
  position: relative;
  top: 4px;
  left: 15px;
}

@media screen and (min-width: 950px) {
  .second-section {
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 20px;
    padding-right: 20px;
    background-size: auto;
  }

  .second-section .container {
    position: relative;
    height: 1175px;
  }

  .second-section_title {
    font-size: 36px;
    width: 395px;
  }

  .service-card {
    width: 380px;
    padding: 48px;
    margin: 0;
    &:nth-of-type(1) {
      position: absolute;
      top: 18px;
      right: 0;
    }

    &:nth-of-type(2) {
      position: absolute;
      top: 308px;
      left: 85px;
    }

    &:nth-of-type(3) {
      position: absolute;
      top: 650px;
      right: 0;
    }

    &_image {
      position: relative;
      margin-bottom: 56px;
    }

    &_title {
      font-size: 20px;
      margin-bottom: 16px;
    }

    &_desc {
      font-size: 16px;
      margin-bottom: 52px;
    }
  }

  .link-text {
    font-size: 14px;
  }

  .link-arrow {
    max-width: 16px;
    left: 25px;
  }
}
