@import "variables";
@import "fonts";
@import "main-header";
@import "top-section";
@import "button";
@import "second-section";
@import "third-section";
@import "fourth-section";
@import "fifth-section";
@import "main-footer";

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: $font-main-regular;
  color: $text-color-primary;
  font-size: 16px;
  line-height: 1.5;
  background: linear-gradient(1deg, #ffffff, rgba(74, 153, 211, 0), #e1effad6);
  background-repeat: repeat-x;
  min-width: 340px;
}

.container {
  width: 100%;
  max-width: 950px;
  margin: auto;
  min-width: 300px;
}
