.third-section {
  background: $background-primary-light;
  padding: 50px 20px 50px;

  &_title {
    font-family: $font-main-bold;
    font-size: 24px;
    color: $text-color-blue;
    text-align: center;
    margin-bottom: 45px;
  }

  &_feature-cards {
    display: flex;
    flex-wrap: wrap;
  }
}

.feature-card {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;

  &:nth-of-type(3) {
    margin-right: 0;
  }

  &_image {
    margin-bottom: 15px;
  }

  &_title {
    font-family: $font-main-medium;
    font-size: 14px;
    color: $text-color-primary;
    margin-bottom: 10px;
  }

  &_desc {
    font-size: 12px;
    color: $text-color-primary;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

@media screen and (min-width: 750px) {
  .third-section {
    padding: 95px 20px 95px;

    &_title {
      font-size: 26px;
      margin-bottom: 91px;
    }

    &_feature-cards {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }

  .feature-card {
    margin-right: 106px;
    margin-bottom: 0;

    &_image {
      margin-bottom: 34px;
    }

    &_title {
      font-size: 18px;
    }

    &_desc {
      font-size: 16px;
    }
  }
}
