.top-section {
  padding-top: 26px;
  padding-bottom: 76px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0px 8px 8px 4px rgba(75, 0, 129, 0.05);

  &_promo {
    margin-bottom: 20px;
  }

  &_promo-title {
    font-family: $font-main-medium;
    color: $text-color-secondary;
    font-size: 24px;
    margin-bottom: 20px;
  }

  &_promo-desc {
    margin-bottom: 20px;
    font-size: 14px;
    color: $text-color-secondary;
  }

  &_image {
    max-width: 60%;
  }
}

.top-section .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mockup-phone {
  width: 100%;
}

@media screen and (min-width: 780px) {
  .top-section .container {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .top-section_promo {
    min-width: 60%;

    &-title {
      margin-top: 30px;
      font-size: 40px;
      margin-bottom: 16px;
    }

    &-desc {
      font-size: 16px;
      margin-bottom: 30px;
    }
  }

  .top-section_image {
    margin-left: 32px;
    min-width: calc(40% - 32px);
  }
}

@media screen and (min-width: 1320px) {
  .top-section_promo {
    min-width: 636px;

    &-title {
      margin-top: 75px;
      margin-bottom: 14px;
      font-size: 50px;
    }

    &-desc {
      margin-bottom: 60px;
      font-size: 20px;
    }
  }

  .top-section_image {
    width: 441px;
    min-width: 441px;
  }
}
