$text-color-primary: #0f001a;
$text-color-secondary: #260041;
$text-color-blue: #4a99d3;
$text-color-white: #ffffff;
$background-primary: #4a99d3;
$background-secondary: #ffffff;
$background-primary-light: #4a99d31a;
$button-background-primary: #4a99d3;
$button-background-secondary: #000000;
$button-background-secondary-reverse: #ffffff;
$button-text-primary: #ffffff;
$button-text-secondary: #4a99d3;
$button-border-primary: #4a99d3;
$button-border-secondary: #000000;
$button-border-secondary-reverse: #ffffff;
$font-main-regular: "Objective";
$font-main-medium: "Objective Medium";
$font-main-bold: "Objective Bold";
